@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .glow {
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5),
                 0 0 10px rgba(255, 255, 255, 0.4),
                 0 0 20px rgba(255, 255, 255, 0.3);
  }
}

:root {
  /* Light mode (Earthy Warm) */
   --color-primary:#007FFF;   
  /* --color-secondary: #7eb8f3;   */
  --color-secondary: #1886f3;   
  /* --color-bg: hsla(213, 63%, 84%, 0.506);         */
  --color-bg: hsla(188, 100%, 24%, 0.121);        
  --color-text: #49413c;
  --color-history: #0167ce47; /* Light background for history */       
 
}

[data-theme="dark"] {
  /* Dark mode (Bold & Modern) */


  --color-primary:#007FFF ;    
  --color-secondary: #1469bf;  
  --color-bg: #333333;         
  --color-text: #ededed;
  --color-history: #0080ff7d; /* Light background for history */       
  

  
}

