@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .glow {
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.5),
                 0 0 10px rgba(255, 255, 255, 0.4),
                 0 0 20px rgba(255, 255, 255, 0.3);
  }
}

:root {
  /* Light mode (Soft & Clean with Subtle Gradient) */
  --color-primary: #007FFF; /* Retaining your consistent primary blue */
  --color-secondary: #006ddb; /* A slightly softer blue for secondary actions */
  --color-bg:#454545 ;
  --color-text: #c3e1ff; /* A professional, dark grey-blue for text */
  --color-history: #0080ff7d;
  
}

[data-theme="dark"] {
  /* Dark mode (Bold & Modern) - Keeping this as you liked it */
  --color-primary: #007FFF;
  --color-secondary: #1469bf;
  --color-bg: #333333;
  --color-text: #ededed;
  --color-history: #0080ff7d;
}